#VsCode
.conan/*
**/build/*
.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
cmake-*

#Jetbrains
.idea
.downloads
.DS_store

#CI-Local
build-host


# Sonar
**/.scannerwork

