<!DOCTYPE html>

<html>

  {% include head.html %}

  <body>

    {% include header.html %} 
    
    
    <!-- Main -->
    <div id="main" class="alt">

      <!-- One -->
      <section id="one">
	<div class="inner">

        <header class="major">
            <h1>News</h1>
        </header>
          {% for post in site.posts %}
	  {% if post.title != 404 %}
	    <h2>{% if post.date %}{{ post.date | date: "%d.%m.%Y" }} - {% endif %} {{ post.title }}</h2>
	  {% if post.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ post.image }}" alt="" /></span>{% endif %}
	  <p>{{ post.content }}</p>
	  {% endif %}
          {% endfor %}
	</div>
      </section>

    </div>

    {% include footer.html %}

  </body>

</html>
