<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
<!--                <ul class="actions">-->
<!--                    <li><a href="#one" class="button next scrolly">Mehr erfahren</a></li>-->
<!--                </ul>-->
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}
    </div>

    {% include footer.html %}

</body>

</html>
