name: build all packages 

# Controls when the action will run. 
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
  workflow_dispatch:
  
jobs:
  packages-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2    

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install docker 

      - name: build 
        run: python3 ./container-build.py
      